git
.gitignore
.dockerignore
.pre-commit-config.yaml
Dockerfile
docker-compose*.yaml
Makefile
__pycache__
*.pyc
.dvc/cache
results/
.vscode
.venv
.ruff_cache
.mypy_cache
.pytest_cache
.devcontainer
tests/
