# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# IDE
.vscode/
.idea/
.devcontainer/

# Caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# DVC
/results/*
!/results/.gitkeep
.dvc/cache

# Docker
*.log

# OS
.DS_Store
Thumbs.db
